// @import "compass/css3";
 
/*
@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateX(0));
  }
  40% {
    @include transform(translateX(-7px));
  }
  60% {
    @include transform(translateX(-3px));
  }
}
.bounce {
 @include animation(bounce 2s infinite);
}
*/

@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
   -moz-transform: translateX(0);
   transform: translateX(0);
 }
 40% {
   -moz-transform: translateX(-7px);
   transform: translateX(-7px);
 }
 60% {
   -moz-transform: translateX(-3px);
   transform: translateX(-3px);
 }
}
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
   -webkit-transform: translateX(0);
   transform: translateX(0);
 }
 40% {
   -webkit-transform: translateX(-7px);
   transform: translateX(-7px);
 }
 60% {
   -webkit-transform: translateX(-3px);
   transform: translateX(-3px);
 }
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
   -moz-transform: translateX(0);
   -ms-transform: translateX(0);
   -webkit-transform: translateX(0);
   transform: translateX(0);
 }
 40% {
   -moz-transform: translateX(-7px);
   -ms-transform: translateX(-7px);
   -webkit-transform: translateX(-7px);
   transform: translateX(-7px);
 }
 60% {
   -moz-transform: translateX(-3px);
   -ms-transform: translateX(-3px);
   -webkit-transform: translateX(-3px);
   transform: translateX(-3px);
 }
}

.bounce {
 -moz-animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 animation: bounce 2s infinite;
 animation-play-state: paused; 
}

.bounce:hover{
 animation-play-state: running;
}

.animatedArrow {
 padding-right: 1em;
}

/* https://codepen.io/dodozhang21/pen/siKtp */
/*
@-moz-keyframes bounceleft {
 0%, 20%, 50%, 80%, 100% {
   -moz-transform: translateX(0);
   transform: translateX(0);
 }
 40% {
   -moz-transform: translateX(-5px);
   transform: translateX(-5px);
 }
 60% {
   -moz-transform: translateX(-2px);
   transform: translateX(-2px);
 }
}
@-webkit-keyframes bounceleft {
 0%, 20%, 50%, 80%, 100% {
   -webkit-transform: translateX(0);
   transform: translateX(0);
 }
 40% {
   -webkit-transform: translateX(-5px);
   transform: translateX(-5px);
 }
 60% {
   -webkit-transform: translateX(-2px);
   transform: translateX(-2px);
 }
}
@keyframes bounceleft {
 0%, 20%, 50%, 80%, 100% {
   -moz-transform: translateX(0);
   -ms-transform: translateX(0);
   -webkit-transform: translateX(0);
   transform: translateX(0);
 }
 40% {
   -moz-transform: translateX(-5px);
   -ms-transform: translateX(-5px);
   -webkit-transform: translateX(-5px);
   transform: translateX(-5px);
 }
 60% {
   -moz-transform: translateX(-2px);
   -ms-transform: translateX(-2px);
   -webkit-transform: translateX(-2px);
   transform: translateX(-2px);
 }
}
*/

@-moz-keyframes bounceleft {
 0%, 20%, 50%, 80%, 100% {
   -moz-transform: translateX(0);
   transform: translateX(0);
 }
 60% {
   -moz-transform: translateX(-2px);
   transform: translateX(-2px);
 }
}
@-webkit-keyframes bounceleft {
 0%, 20%, 50%, 80%, 100% {
   -webkit-transform: translateX(0);
   transform: translateX(0);
 }
 60% {
   -webkit-transform: translateX(-2px);
   transform: translateX(-2px);
 }
}
@keyframes bounceleft {
 0%, 20%, 50%, 80%, 100% {
   -moz-transform: translateX(0);
   -ms-transform: translateX(0);
   -webkit-transform: translateX(0);
   transform: translateX(0);
 }
 60% {
   -moz-transform: translateX(-2px);
   -ms-transform: translateX(-2px);
   -webkit-transform: translateX(-2px);
   transform: translateX(-2px);
 }
}


.bounceleft {
 -moz-animation: bounceleft 2s infinite;
 -webkit-animation: bounceleft 2s infinite;
 animation: bounceleft 2s infinite;
 animation-play-state: paused; 
}

.bounceleft:hover{
 animation-play-state: running;
}