/*@import url(//fonts.googleapis.com/css?family=Montserrat:700);*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/*https://www.google.com/fonts*/

.infobox .labelContent {
	padding: 8px 12px;
	font-size:16px;
	font-weight:normal;
	line-height:20px;
	color: #000;
}

.infobox .labelContent p {
	margin-top: 8px;
}


.infobox .labelHead {
	background:#000;
	color:#fff;
	padding:8px 12px 8px 12px;
	/*width:100%;*/

	/*font-family: 'Trebuchet MS', sans-serif;*/
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-size:22px;
	font-weight:normal;
	line-height:24px;

	/* oben rechts links rund */
/*	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;*/

}
.infobox .arrow {
    /*left: 40px;*/
    right: -20px;
    top: 0px;
    /*margin-left: 8px;*/
    /*margin-top: 8px;  adding the parents bottom padding */
    /*border-width: 10px 10px 0px;*/
    /*border-width: 10px 00px 10px 10px;*/
    /*border-color: black transparent transparent;*/
    /*border-color: rgba( 0, 0, 0, 0.6 ) transparent transparent;*/
    /*border-color: transparent transparent transparent solid;*/
    position: absolute;
    width: 0px;
    height: 0px;
    /*border-style: solid;*/

    border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	/*border-left: 10px solid rgba( 0, 0, 0, 0.6 );*/
	border-left: 20px solid rgba( 0,0,0, 1 );

    /* http://www.cssmatic.com/box-shadow */
/*	-webkit-box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 8px -5px rgba(0,0,0,0.75);*/

	/*background:rgba( 0, 0, 0, 0.6 );*/

/* kleiner pfeil */
/*
    right: -10px;
    top: 20px;

    position: absolute;
    width: 0px;
    height: 0px;


    border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	border-left: 10px solid rgba( 0, 0, 0, 1 );


	-webkit-box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 8px -5px rgba(0,0,0,0.75);

*/


}

.htmlLabel {
	position:absolute;
	/* needed for css transformation in JS code */
	top:0;
	left:0;
}

.infobox {
	z-index: 10;
	width: 280px;
	/*height:150px;*/
	/*position:relative;*/
	top:0;
	left:0;
	/*background: rgba(220,160,140,0.5);*/
	/*margin-right:20px;*/
	/*margin-bottom:20px;*/

	/*display:none;*/

	color:#fff;
	/*color:#111111;*/
	/*font-family: "Montserrat", sans-serif;*/
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-family: 'Trebuchet MS', sans-serif;
	font-size:22px;
	font-weight:normal;
	line-height:24px;

	/*margin-bottom:20px;*/
	/*margin-right:30px;*/

	/*padding:8px 12px 8px 12px;*/
	/*padding-bottom: 4px;*/

	text-align:left;
	/*border-radius: 15px/50px;*/
	/*border-radius: 10px;*/

/*	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;*/


	/* http://www.cssmatic.com/box-shadow */
	-webkit-box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 8px -5px rgba(0,0,0,0.75);

	background:rgba( 255, 255, 255, 0.9 );

	/*http://www.colorzilla.com/gradient-editor/*/
	/*white glossy*/
/*	background: #f6f8f9;
	background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9));
	background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f6f8f9", endColorstr="#f5f7f9",GradientType=0 );*/

}


/*http://www.color-hex.com/color-palette/176*/
.infobox a:visited {
	/*color:#0892d0;*/ /* nice dark blue für black background */
	color:#2c539e;
}
.infobox a:hover {
	color:#2c539e;
	text-decoration:none;
}
.infobox a {
	color:#2c539e;
	/*font-size:0.6em;*/
	/*display:block;*/
}

.infobox .closeButton {
	/* position:absolute;  */
	top:0; 
	right:0;
	margin-right:9px;
	border-top-left-radius:0;
	border-top-right-radius:0;
}

/* Chrome, Safari, Opera */
/*@-webkit-keyframes fadeIn {
    100%  { opacity:1; }
}*/

/* Standard syntax */
/*@keyframes fadeIn {
    100%  { opacity:1; }
}*/

 /*Chrome, Safari, Opera */
@-webkit-keyframes fadeOut {
    from  { opacity:1; }
    to    { opacity:0; }
}

/* Standard syntax */
@keyframes fadeOut {
    from  { opacity:1; }
    to    { opacity:0; }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.fadeIn {

	/*display:block;*/

	-webkit-animation: fadeIn 0.7s;
	animation: fadeIn 0.7s;
}

.testOut {

	display:none;

	-webkit-animation: fadeOut 1s;
	animation: fadeOut 1s;
}

.fadeOut {

	/*http://www.w3schools.com/css/css3_animations.asp*/

    -webkit-animation-name: fadeOut; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    animation-name: fadeOut;
    animation-duration: 0.5s;

    /*animation-iteration-count: infinite;*/
    /*animation-iteration-count: 2;*/
	
}