.page-wrapper.toggled #toggle-sidebar {
    position: absolute;
    left: 220px;
    /* CUSTOMIZE */
    padding:initial;
    border: 0px solid;
    background:transparent;
}

.page-wrapper.toggled #toggle-sidebar div {
    background: #bdbdbd;
    opacity: 0;
}

.page-wrapper.toggled #toggle-sidebar div:first-of-type {
    -webkit-transform: translateY(6px) rotateZ(45deg);
    -moz-transform: translateY(6px) rotateZ(45deg);
    -ms-transform: translateY(6px) rotateZ(45deg);
    -o-transform: translateY(6px) rotateZ(45deg);
    transform: translateY(6px) rotateZ(45deg);
    opacity: 1;
}

.page-wrapper.toggled #toggle-sidebar div:last-of-type {
    -webkit-transform: translateY(-6px) rotateZ(-45deg);
    -moz-transform: translateY(-6px) rotateZ(-45deg);
    -ms-transform: translateY(-6px) rotateZ(-45deg);
    -o-transform: translateY(-6px) rotateZ(-45deg);
    transform: translateY(-6px) rotateZ(-45deg);
    opacity: 1;
}

/*---------------------toggle-sidebar button-------------------------*/

#toggle-sidebar {
    position: fixed;
    top: 13px;
    left: 13px;
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    /* CUSTOMIZE */
    padding:1em;
    border: 1px solid;
    border-radius: 4px;
    background:rgba(0, 0, 0, 0.8);
    /* background:#000; */
}

#toggle-sidebar div {
    display: block;
    height: 3px;
    width: 20px;
    background-color: #333333;
    margin: 3px auto;
    border-radius: 4px;
}